extends layout
block content
  form(class="form-signin" method="post")
    h2 Login
    label.inputEmail User
    input(type="text" class="form-control" name="user")
    label.inputEmail Password
    input(class="form-control" type="password" name="password")
    .checkbox
      label
       input(type="checkbox" value="remember-me")
    button.btn.btn-lg.btn-primary.btn-block Login
