extends layout
block content
  include ./mixins/hello
  .home-content This is home page content
    h1 Peoples
    each people in peoples
      p.list-item=people
  .multiline-text.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit molestiae numquam quasi illum explicabo eos nulla, eum quibusdam aliquid harum vel facilis, corrupti beatae! Tempore magnam officiis tempora dignissimos repellat!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus eos, animi quos illum quod necessitatibus odio quisquam ullam assumenda nulla dolor soluta ut inventore eveniet, dolorem placeat voluptatum. Minima, facere.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aliquam quod ipsam ut quidem. Corrupti illo, quidem recusandae, nulla enim ipsam sequi sapiente dolores reprehenderit labore delectus neque? Omnis, reprehenderit.
  +hello('World')

  script.
    console.log('Hey pug')
    console.log('___________________')
