doctype html
html(lang="en")
  head
    title=title
    link(rel="stylesheet" href="css/style.css")
  body
    .container
      include partials/header
      block content
        h1 Hey this is the content area
    include partials/case
    include partials/loops
    footer
      | footer content 
