//- This is a pug file (comment)
doctype html

//- Attributes
html(lang="en") 
  head
    //- Render variables
    title=title
    link(rel="stylesheet" href="css/style.css")
  body
    .container
      include partials/header
      //- Layout blocks
      block content
        h1 Hey this is the content area
    //- Partial views 
    include partials/case
    include partials/loops
    footer
      | footer content 
